.editor-body {
  width: 100%;

  z-index: 1;

  position: relative;
  overflow: hidden;

  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: normal;
  hyphens: auto;
}

.editor-body__content {
  max-width: 960px;
  margin: 32px auto 0;
  padding: 0 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.editor-body__tags {
  padding: 30px 0 0;
  margin: 0 0 16px;
  list-style-type: none;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.editor-body__tag {
  padding: 8px 12px;
  border-radius: 50px;
  border: 1px solid rgba(var(--glow-color), 0.4);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  box-shadow:
    0 0 20px rgba(var(--glow-color), 0.4),
    0 0 40px rgba(var(--glow-color), 0.2),
    inset 0 0 20px rgba(var(--glow-color), 0.1);
}

.editor-body__tag:nth-child(3n) {
  --glow-color: 255, 0, 255;
}

.editor-body__tag:nth-child(3n + 1) {
  --glow-color: 0, 212, 255;
}

.editor-body__tag:nth-child(3n + 2) {
  --glow-color: 57, 255, 20;
}
