.editor-body {
  width: 100%;

  z-index: 1;

  position: relative;
  overflow: hidden;

  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: normal;
  hyphens: auto;
}

.editor-body__content {
  max-width: 960px;
  margin: 32px auto 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
