.app {
  background: #111;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #f1f1f1;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.app__content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px;
}

::-webkit-scrollbar {
  height: 16px;
  background-color: #2a2a2a;
  margin-bottom: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border: solid 3.5px #2a2a2a;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
  background-color: #eee;
}

::-webkit-scrollbar-track {
  background-color: #2a2a2a;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover {
  cursor: pointer;
}

::-webkit-scrollbar-button {
  display: none;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  display: block;
  background-image: url(../../assets/right-arrow.svg);
}

::-webkit-scrollbar-button:horizontal:end:active {
  background-image: url(../../assets/right-arrow-active.svg);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  display: block;
  background-image: url(../../assets/left-arrow.svg);
}

::-webkit-scrollbar-button:horizontal:start:active {
  background-image: url(../../assets/left-arrow-active.svg);
}

::-webkit-scrollbar-corner {
  background-color: #2a2a2a;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  background-image: url(../../assets/up-arrow.svg);
}

::-webkit-scrollbar-button:vertical:start:active {
  background-image: url(../../assets/up-arrow-active.svg);
}

::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
  background-image: url(../../assets/down-arrow.svg);
}

::-webkit-scrollbar-button:vertical:end:active {
  background-image: url(../../assets/down-arrow-active.svg);
}

::-webkit-scrollbar-corner {
  background-color: #111;
}

@supports not selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    scrollbar-width: auto;
    scrollbar-color: #999 #2a2a2a;
  }
}

@media (max-width: 400px) {
  .app__content {
    padding: 16px;
  }
}
