.tiptap {
  width: 100%;
  height: calc(100vh - (130px + 150px));
  font-family: "Consolas", "Courier New", Courier, monospace;
  overflow-y: auto;
  overflow-x: wrap;
  line-height: 2.5;
  scrollbar-gutter: stable;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: normal;
  hyphens: auto;
}

.tiptap:focus {
  outline: none;
}
