.tiptap {
  width: 100%;
  height: calc(100vh - (130px + 150px));
  font-family: "Consolas", "Courier New", Courier, monospace;
  overflow-x: wrap;
  line-height: 2.5;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: normal;
  hyphens: auto;
}

.tiptap:focus {
  outline: none;
}

.tiptap::selection {
  background-color: #39ff1433;
}

.tiptap pre.is-empty::before {
  color: rgba(0, 255, 255, 0.3); /* Cyberpunk cyan glow */
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-family: "Courier New", monospace;
  font-style: italic;
}
